.selected {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 8px;
  cursor: pointer;
}

.menu {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.menuItem {
  padding: 8px;
  cursor: pointer;
}